<div class="row">
    <div class="col-bb5-15">
        <p>
            <strong>{{ 'data_base'|trans }}</strong>
        </p>
        <p>
            <button type="button" class="btn btn-simple btn-xs">
                <i class="fa fa-sign-in"></i> {{ 'import'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-simple btn-xs">
                <i class="fa fa-sign-out"></i> {{ 'export'|trans }}
            </button>
        </p>
    </div>

    <div class="col-bb5-73 bb5-border-right">
        <div class="row">
            <div class="col-bb5-100">
                <div class="tab-pane">
                    <div class="row">
                        <div class="col-bb5-26 bb5-border-right align-middle">
                            <p class="txt-center">
                                <button type="button" id="toolbar-new-user-action"  class="btn btn-default-grey btn-sm">
                                    <i class="fa fa-user"></i> {{ 'create_user'|trans }}
                                </button>
                            </p>
                        </div>
                        <div class="col-bb5-74">
                            <div class="row">
                                <div class="col-bb5-50">
                                    <p class="row form-group">
                                        <span class="col-bb5-x">{{ 'user_filters'|trans }}</span>
                                    </p>
                                    <p class="row form-group">
                                        <span class="col-bb5-x">{{ 'status'|trans }}</span>
                                        <span class="col-bb5-55">
                                            <select class="form-control input-xs" name="[]">
                                                <option value="">{{ 'all'|trans }}</option>
                                            </select>
                                        </span>
                                        <button type="button" class="btn btn-default-grey btn-xs">{{ 'filters'|trans }}</button>
                                    </p>
                                    <p class="row form-group">
                                        <span class="col-bb5-x">{{ 'status'|trans }}</span>
                                        <span class="col-bb5-55">
                                            <select class="form-control input-xs" name="[]">
                                                <option value="">{{ 'all'|trans }}</option>
                                            </select>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-bb5-50">
                                    <p>{{ 'find_users'|trans }}</p>
                                    <p class="row form-group">
                                        <span class="col-bb5-x">{{ 'status'|trans }}</span>
                                        <span class="col-bb5-55">
                                            <select class="form-control input-xs" name="[]">
                                                <option value="">{{ 'all'|trans }}</option>
                                            </select>
                                        </span>
                                        <button type="button" class="btn btn-default-grey btn-xs">{{ 'search'|trans }}</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-bb5-12">
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-floppy-o"></i> {{ 'save'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-reply"></i> {{ 'restore'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-share"></i> {{ 'cancel'|trans }}
            </button>
        </p>
    </div>
</div>