<div class="contentset" data-type="{{ element.object_type }}" data-uid="{{ element.object_uid }}">
    
    <p class="label">{{ element.getLabel() }}</p>

    <div class="bb5-listContainer">
        <p>
            <button id="{{ element.getKey() }}_addcontent" class="btn btn-default-grey btn-sm"><i class="fa fa-plus"></i> {{ trans('add_content') }}</button>
            <button id="{{ element.getKey() }}_searchcontent" class="btn btn-default-grey btn-sm"><i class="fa fa-search-plus"></i> {{ trans('search_content') }}</button>
            <button id="{{ element.getKey() }}_trashall" class="btn btn-default-grey btn-sm"><i class="fa fa-trash"></i> {{ trans('clear_all') }}</button>
        </p>
        <ul id="{{ element.getKey() }}_list" class="bb5-list-media bb5-list-media-is-list clearfix">
            {% for item in items %}
                {{ item }}
            {% endfor %}
        </ul>
    </div>
    {% if element.getError() != null %}
        <span class="help-block">{{ element.getError() }}</span>
    {% endif %}
</div>