<div class="contentset" data-type="{{ element.object_type }}" data-uid="{{ element.object_uid }}">
    
    <p>{{ element.getLabel() }}</p>

    <div class="bb5-listContainer">
        <p>
            <button id="{{ element.getKey() }}_addcontent" class="bb5-button"><i class="fa fa-plus"></i> Add content</button>
            <button id="{{ element.getKey() }}_searchcontent" class="bb5-button"><i class="fa fa-search-plus"></i> Search content</button>
            <button id="{{ element.getKey() }}_trashall" class="bb5-button"><i class="fa fa-trash"></i> Clear all</button>
        </p>
        <ul id="{{ element.getKey() }}_list" class="bb5-list-media bb5-list-media-is-list clearfix">
            {% for item in items %}
                {{ item }}
            {% endfor %}
        </ul>
    </div>
    {% if element.getError() != null %}
        <span class="help-block">{{ element.getError() }}</span>
    {% endif %}
</div>