<div data-type="{{ element.object_type }}" data-uid="{{ element.object_uid }}">

    <p class="label label-contentset">{{ element.getLabel() }} <span class="plus">+</span></p>

    <input type="hidden" name="{{ element.getKey() }}" />
    <span class="form_error help-block {% if element.getError() == null %}hidden{% endif %}">{{ element.getError() }}</span>
</div>
