<li class="bb5-media-item"
    data-uid="{{ item.uid }}"
    data-type="{{ item.type }}"
    data-folder="{{ item.folder_uid }}"
    data-title="{{ item.title }}"
    data-media="{{ item.media_id }}"
    data-image="{{ item.image }}"
>
    <p class="item-picture">
        <a href="javascript:;" title="{{ item.title }}">
            <img src="{{ item.image }}" alt="{{ item.content.type }}">
        </a>
    </p>
    <p class="item-ttl">
        <a href="javascript:;" title="{{ item.title }}">{{ item.title }}</a>
    </p>
    <p class="item-meta">Date de création: <strong>01/10/2013</strong></p>
    <p class="item-action">
        <button type="button" class="btn btn-default-grey btn-sm fa fa-angle-up move-up move"></button>
        <button type="button" class="btn btn-default-grey btn-sm fa fa-angle-down move-down move"></button>
        <button type="button" class="btn btn-default-grey btn-sm fa fa-trash trash"></button>
    </p>
</li>