<label for="{{ element.getKey() }}" class="label">{{ element.getLabel() }}</label>
<input type="password"
       name="{{ element.getKey() }}"
       {% if element.isDisabled() %}disabled{% endif %}
       {% if element.getValue() != null%}value="{{ element.getValue() }}"{% endif %}
       class="form-control"
       >
{% if element.getError() != null %}
    <span class="help-block">{{ element.getError() }}</span>
{% endif %}