<div id="palette-blocks" class="bb5-dialog ui-dialog-no-title">
    {% for category in categories %}
        {% if category.show %}
        <div class="bb5-data-toggle">
            <div class="bb5-data-toggle-header">
                {{ category.name }}
                <span class="bb5-data-toggle-trigger">
                    <i class="fa fa-angle-down"></i>
                </span>
            </div>
            <div class="bb5-data-drpdown">
                <div class="bb5-list-data bb5-list-bordered">
                    {% for block in category.contents %}
                    <div class="bb5-list-data-item" id="{{ block.id }}">
                        <div class="bb5-extension-pane">
                            <div class="pull-left">
                                <figure class="bb5-extension-img">
                                    <img draggable="true" data-bb-type="{{ block.type }}" class="bb-dnd" style="width:75px;" src="{{ block.thumbnail }}">
                                </figure>
                            </div>
                            <div class="float-reflow">
                                <p>
                                    <strong>{{ block.label }}</strong>
                                </p>
                                <p>{{ bundle.description }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div><!--/.bb5-list-data-->
            </div><!--/.bb5-data-drpdown-->
        </div><!--/.bb5-data-toggle-->
        {% endif %}
    {% endfor %}
</div><!--id:extensions-->