<form id="{{ form.getId() }}"
      role="form" method="{{ form.getMethod() }}"
      {% if form.getAction() != null %}action="{{ form.getAction() }}"{% endif %}
      onsubmit="return false;"
      >

    {% if form.getFormError() != null %}
        <span class="help-block">{{ form.getFormError() }}</span>
    {% endif %}

    {% for key, group in groups %}
        {% if group|length > 1 %}<span>{{ key|capitalize }}</span>{% endif %}
        <div class="form-group {% if group|length > 1 %}custom-form-group{% endif %}">
            {% for element in group %}
                {{ element.render() }}
            {% endfor %}
        </div>
    {% endfor %}
    <button id="bb-submit-form" type="submit" class="btn btn-default">{{ form.getSubmitLabel() }}</button>
</form>