<div class="row">
    <div class="col-bb5-30 bb5-border-right">
        <div class="bb5-extension-pane">
            <div class="row">
                <div class="col-bb5-30">
                    <figure class="bb5-extension-img"><img src="resources/img/extension.png" alt=""></figure>
                </div>
                <div class="col-bb5-70">
                    <p><strong>{{ bundle.name }}</strong></p>
                    <div class="form-group btn-group btn-group-justified activation-btn-group" data-bundle-id="{{ bundle.id }}">
                        <a class="btn btn-xs btn-default enable {% if bundle.enable %}active{% endif %}" role="button">{{ 'activate'|trans }}</a>
                        <a class="btn btn-xs btn-default disable {% if bundle.enable == false %}active{% endif %}" role="button">{{ 'deactivate'|trans }}</a>
                    </div>
                    <p class="position-bottom">
                        <a class="btn btn-transparent btn-xs btn-toggle btn-dialog-extension" href="javascript:;">
                            <i class="fa fa-angle-down"></i>{{ 'see_my_extensions'|trans }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div><!--/ End col-->

    <div class="col-bb5-58 bb5-border-right">
        <div class="tab-pane  bb5-content-txt">
            <div class="bb5-scroll-overflow">
                <p>{{ bundle.description }}</p>
            </div>
        </div>
    </div><!--/ End col-->

    <div class="col-bb5-12">
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-floppy-o"></i> {{ 'save'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-reply"></i> {{ 'restore'|trans }}
            </button>
        </p>
        <p>
            <button type="button" class="btn btn-default-grey btn-sm btn-block">
                <i class="fa fa-share"></i> {{ 'cancel'|trans }}
            </button>
        </p>
    </div><!--/ End col-->
</div>
